@using Microsoft.AspNetCore.Mvc.Localization
 
@inject IViewLocalizer Localizer
 
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject IHtmlLocalizer<SharedResources> SharedHtmlLocalizer
 
<h3>@SharedLocalizer["Alert"]</h3>