
@{
    ViewBag.Title = "XianXiaSimulator";
}
 
<div class="container">
    <div class="row">
        <div class="col-3">
            @*<a href="https://play.google.com/store/apps/details?id=com.XsinsersCompany.Classic2048"> <img src="~/Content/gpButton.png" class="img-fluid" /></a>*@
        </div>
        <div class="col">
            <h1 class="text-end">XianXia Simulator</h1>
            <h1 class="text-center">О проекте</h1>
        </div>
    </div>
    <div class="row align-items-center">

        <div class="col text-center">
            @*<img src="~/Content/2048img.png" width="300" class="img-fluid img">*@
        </div>
        <div class="col-5">
            <p>
                XianXia Simulator представляет из себя приложение, созданное на игровом движке Unity, являющееся текстовой РПГ.
                События игры происходят в вымышленом мире, в стилистике Сянься. Сянься - жанр китайского фэнтези, созданный под влиянием китайской мифологии, даосизма китайских боевых искусств, традиционной китайской медицины и других элементов культуры Китая.
                Игрок управляет героем-культиватором, что может совершенствоваться и тем самым повышать собственную силу. Сама механика игры построена на основе D&D. Но в отличии от оригинала, в значительной степени переработана, для более правильного баланса существ в мире.
            </p>
            
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-3">
            <h1 class="text-center">Статус:</h1>
        </div>
        <div class="col">
            <h3 class="text-center">В разработке</h3>

        </div>
    </div>
    <br />
    <div>
        <h1 class="text-center">Планы на будующее</h1>
    </div>
    <div class="row align-items-center">

        <div class="col">
            @*<img src="~/Content/andr.jpg" class="img-fluid">*@
        </div>
        <div class="col-5">
            <p>
            В планах выпуск альфа версии игры для внутреннего тестирования. Различные аспекты игры будут вводиться постипенно и проходить тестирование по отдельности. По итогам тестирования будут вноситься изменения в имеющийся контент и разрабатываться новый.
            После выпуска нескольких удачных альфа версию будет разработана дорожная карта и выложена в открытый доступ на этом сайте.
            </p>
        </div>
    </div>
</div>




