@{
    ViewBag.Title = "Главная";
}

<div class="container">
    <br />
    <div>
        <h1 class="text-center">О нас</h1>
    </div>
    <div class="row align-items-center">
        <div class="col-5">
            <p>
                Мы - группа энтузиастов, разрабатывающая игры и приложения для мобильных телефонов под управлением ОС Android. Наша цель и задача - предоставление качественного наполнения игр и приложений
                контентом, для получения лучшего опыта у игроков и полного удовлетворения потребностей у пользователей приложений.
            </p>
        </div>
        <div class="col">
            <img src="~/Content/Programmer.jpg" class="img-fluid">
        </div>
    </div>
    <br />
    <div>
        <h1 class="text-center">Планы на будующее</h1>
    </div>
    <div class="row align-items-center">

        <div class="col">
            <img src="~/Content/andr.jpg" class="img-fluid">
        </div>
        <div class="col-5">
            <p>
                Почему Android? Потому что самый простой способ доставки приложений доступен на Android, в отличии от IPhone. Но мы не собираемся отказываться от аудитории пользователей IPhone, мы будем поставлять приложения и на устройства под IOS тоже, но значительно позже.
            </p>
        </div>
    </div>
    <br />
    <div class="row align-items-center">
        <div class="col-5">
            <p>
                Помимо разработок текущих проектов наша группа хотела бы принять участие в разработке новых приложений и портировании уже имеющихся приложений на Linux для Эльбрусов. В данный момент это только далеко идущие планы, поскольку группа загружена на текущих задачах и пока не может выделить ресурсы на работы в этом направлении.
            </p>
        </div>
        <div class="col">
            <img src="~/Content/elb.jpg" class="img-fluid">
        </div>
    </div>
</div>