
@{
    ViewBag.Title = "About";
}
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="~/Content/proger.jpeg" width="150" class="img-fluid img" style="border-radius: 50%;">
                        <br />
                        <h3>Главный разработчик комманды</h3>
                        <h4>Владимир <b>"Xsinser"</b></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <a>Right</a>
        </div>
    </div>
</div>
