
@{
    ViewBag.Title = "Classic2048";
}
<div class="container">
    <div class="row">
        <div class="col-3">
            <a href="https://play.google.com/store/apps/details?id=com.XsinsersCompany.Classic2048"> <img src="~/Content/gpButton.png" class="img-fluid" /></a>
        </div>
        <div class="col">
            <h1 class="text-start">Classic 2048</h1>
            <h1 class="text-center">О проекте</h1>
        </div>
    </div>
    <div class="row align-items-center">

        <div class="col-12 text-center col-md">
            <img  src="~/Content/2048img.png" width="300" class="img-fluid img">
        </div>
        <div class="col-12 col-md-6">
            <p align="justify">
                Classic 2048 представляет из себя приложение, созданное на игровом движке Unity, и повторяющее игровой процесс игры 2048.
            </p>
            <p align="justify">
                <b>Правила игры следующие:</b><br />
            </p>
            <ol>
                <li align="justify"> В каждом раунде появляется плитка номинала «2» (с вероятностью 90 %) или «4» (с вероятностью 10 %)</li>
                <li align="justify"> Нажатием стрелки игрок может скинуть все плитки игрового поля в одну из 4 сторон. Если при сбрасывании две плитки одного номинала «налетают» одна на другую, то они превращаются в одну, номинал которой равен сумме соединившихся плиток. После каждого хода на свободной секции поля появляется новая плитка номиналом «2» или «4». Если при нажатии кнопки местоположение плиток или их номинал не изменится, то ход не совершается.</li>
                <li align="justify"> Если в одной строчке или в одном столбце находится более двух плиток одного номинала, то при сбрасывании они начинают соединяться с той стороны, в которую были направлены. Например, находящиеся в одной строке плитки (4, 4, 4) после хода влево превратятся в (8, 4), а после хода вправо — в (4, 8). Данная обработка неоднозначности позволяет более точно формировать стратегию игры.</li>
                <li align="justify"> За каждое соединение игровые очки увеличиваются на номинал получившейся плитки.</li>
                <li align="justify"> Игра заканчивается поражением, если после очередного хода невозможно совершить действие.</li>
            </ol>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-3">
            <h1 class="text-center">Статус:</h1>
        </div>
        <div class="col">
            <h3 class="text-center">Релиз, разработка нового контента</h3>

        </div>
    </div>
    <br />
    <div>
        <h1 class="text-center">Планы на будующее</h1>
    </div>
    <div class="row align-items-center">

        <div class="col-12 text-center col-md">
            @*<img src="~/Content/andr.jpg" class="img-fluid">*@
        </div>
        <div class="col-12 col-md-6">
            <p align="justify">
                В планах разработка новых оболочек (скинов) для приложения, поскольку в отзывах пользователей присутсвовали подобные пожелания. Однако многие оболочки пойдут в качестве отдельных, тематических приложений из-за жестких условий возрастных рейтингов.
            </p>
        </div>
    </div>
</div>


