
@{
    ViewBag.Title = "XianXiaSimulator";
}
 
<div class="container">
    <div class="row">
        <div class="col-3">
            @*<a href="https://play.google.com/store/apps/details?id=com.XsinsersCompany.Classic2048"> <img src="~/Content/gpButton.png" class="img-fluid" /></a>*@
        </div>
        <div class="col">
            <h1 class="text-end">Resolution Upscaler</h1>
            <h1 class="text-center">О проекте</h1>
        </div>
    </div>
    <div class="row align-items-center">

        <div class="col-12 text-center col-md">
            <img src="~/Content/UpSacler.jpg" width="300" class="img-fluid img">
        </div>
        <div class="col-12 col-md-6">
            <p align="justify">
                Resolution Upscaler представляет из себя приложение, созданное на C# при помощи Xamarin.
                Приложение предназначено для увеличения изображений, выбранных пользователем, в несколько раз (в 4 раза).
            </p>

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-3">
            <h1 class="text-center">Статус:</h1>
        </div>
        <div class="col">
            <h3 class="text-center">В разработке</h3>

        </div>
    </div>
    <br />
    <div>
        <h1 class="text-center">Планы на будующее</h1>
    </div>
    <div class="row align-items-center">

        <div class="col-12 text-center col-md">
            @*<img src="~/Content/andr.jpg" class="img-fluid">*@
        </div>
        <div class="col-12 col-md-6">
            <p align="justify">
                В планах выпуск бетта версии приложения для открытого тестирования. Дальнейшая разработка Android версии приложения не планируется, в связи с низкой производительностью ПО на мобильном устройстве. Дальнейшее развитие ПО будет происходить на оснве ПО для Windows.
            </p>
        </div>
    </div>
</div>




